<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Вход</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='form_styles.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
  <main id="main-holder">
    <h2 id="login-header">Вход</h2>
    
    <div id="login-error-msg-holder">
      {% if errors %}
      <p id="login-error-msg">{{errors[0]}}<span id="error-msg-second-line">{{errors[1]}}</span></p>
      {% endif %}
    </div>
    
    <form id="login-form" method="post" action="/vhod">
      <input type="text" name="username" id="username-field" value="{{ username }}" class="login-form-field" placeholder="Логин">
      <input type="password" name="password" id="password-field" value="{{ password }}" class="login-form-field" placeholder="Пароль">
      <input type="submit" value="Войти" id="login-form-submit">
    </form>

    <div class="password-recovery">
      <a href="/recovery_password">Забыли пароль?</a>
    </div>

    <div class="register-line">Если у вас ещё нет пароля для входа, вам нужно <a href="/registration">зарегистрироваться</a></div>
  </main>

  <script>
      const loginErrorMsg = document.getElementById("login-error-msg");

      if ({{ errors|default('false')|tojson|safe }}) {
          loginErrorMsg.style.opacity = 1;
      } else {
          loginErrorMsg.style.opacity = 0;
      }
  </script>

</body>

</html>