<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Восстановление пароля</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='form_styles.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
  <main id="main-holder">
    <h2 id="recovery-header">Восстановление пароля</h2>

    <div id="login-error-msg-holder">
      {% if errors %}
      <p id="login-error-msg">{{ errors[0] }}</p>
      {% endif %}
    </div>

    <form id="recovery-form" method="post" action="/password_recovery">
      <input type="email" name="email" id="email-field" value="{{ email }}" class="recovery-form-field" placeholder="Email">
      <input type="submit" value="Восстановить" id="recovery-form-submit">
    </form>

    <div class="back-to-login">
      <a href="/log_in">Вернуться к входу</a>
    </div>
  </main>

  <script>
    const recoveryErrorMsg = document.getElementById("login-error-msg");

    if ({{ errors|default('false')|tojson|safe }}) {
      recoveryErrorMsg.style.opacity = 1;
    } else {
      recoveryErrorMsg.style.opacity = 0;
    }
  </script>

</body>

</html>
