<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>

    <div class="header-line">
       <div class="header-logo">
           <div class="logo_img">
               <img src="{{ url_for('static', filename='logo_img.png') }}">
           </div>

           <div class="header-line-text">
               <div class="logo_text">EnergyFlow</div>

               <div class="other-text">ЛИЧНЫЙ КАБИНЕТ</div>
           </div>
       </div>

        <div class="header-exit">
           <a href="/" class="exit-button">Главная страница</a>
       </div>
    </div>

    <div class="navigation-bar">
        <button class="nav-button" id="trainers-button">Тренеры</button>
        <button class="nav-button" id="profile-button">Профиль</button>
        <button class="nav-button" id="memberships-button">Абонементы</button>
    </div>

    <div class="container">
        <div class="person_info-container">

            <div class="container_title">ПЕРСОНАЛЬНЫЕ ДАННЫЕ</div>

            <div class="container_data">
                <p>Имя: <span class="data">{{ name }}</span></p>
                <p>Почта: <span class="data">{{ email }}</span></p>
                <p>Телефон: <span class="data">{{ phone }}</span></p>
                <p>Пол: <span class="data">{{ gender }}</span></p>
                <p>Дата рождения: <span class="data">{{ birthdate }}</span></p>
                <p>Дата регистрации: <span class="data">{{ joined_date }}</span></p>
            </div>
        </div>

        <div class="workouts-info-container">

            <div class="container_title">ВАШИ ЗАПИСИ</div>
            {% for record in formatted_workout_records %}
                <div class="container_data">

                    <div class="workout-record">
                        <p>{{ record[0] }}</p>
                        <p>Тренер: {{ record[1] }}</p>
                        <p>Дата: {{ record[2] }} в {{ record[5] }}</p>
                    </div>

                    <div class="del-workout-btn">
                        <form action="/delete_workout" method="post">
                            <input type="hidden" name="user_id" value="{{ record[3] }}">
                            <input type="hidden" name="workout_id" value="{{ record[4] }}">
                            <input type="hidden" name="visit_date" value="{{ record[2] }}">
                            <button type="submit" class="delete-button">Отменить</button>
                        </form>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    <script>
        document.getElementById('trainers-button').addEventListener('click', function() {
            window.location.href = '/train';
        });

        document.getElementById('memberships-button').addEventListener('click', function() {
            window.location.href = '/memberships';
        });

    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var profileButton = document.getElementById('profile-button');
            profileButton.classList.add('active');

            const buttons = document.querySelectorAll('.nav-button');

            buttons.forEach(button => {
                button.addEventListener('mouseover', function() {
                    buttons.forEach(btn => btn.classList.remove('active'));
                    this.classList.add('active');
                });

                button.addEventListener('mouseout', function() {
                    if (this !== profileButton) {
                        this.classList.remove('active');
                        profileButton.classList.add('active');
                    }
                });
            });
        });
    </script>

</body>

</html>
