<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Сброс пароля</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='form_styles.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
  <main id="main-holder">
    <h2 id="reset-header">Сброс пароля</h2>

    <div id="login-error-msg-holder">
      {% if errors %}
      <p id="login-error-msg">{{ errors[0] }}<span id="error-msg-second-line">{{errors[1]}}</span></p>
      {% endif %}
    </div>

    <form id="reset-form" method="post" action="/reset_password">
      <input type="password" name="new_password" id="new-password-field" value="{{ new_password }}" class="reset-form-field" placeholder="Новый пароль">
      <input type="password" name="new_password_confirmation" id="password_confirmation-field" value="{{ new_password_confirmation }}" class="reset-form-field" placeholder="Подтвердите пароль">
      <input type="submit" value="Сбросить пароль" id="reset-form-submit">
    </form>

    <div class="back-to-login">
      <a href="/log_in">Вернуться к входу</a>
    </div>
  </main>

  <script>
    const resetErrorMsg = document.getElementById("login-error-msg");

    if ({{ errors|default('false')|tojson|safe }}) {
      resetErrorMsg.style.opacity = 1;
    } else {
      resetErrorMsg.style.opacity = 0;
    }
  </script>

</body>

</html>
